.home__main {
  position: relative;
  width: 100vw;
  height: calc(100vh - 4.68rem);

  & h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: end;
    overflow: hidden;
    z-index: 1;
  }

  & p {
    position: absolute;
    top: 30%;
    left: 20%;
    height: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.2rem;
    font-family: "Satoshi";
    font-weight: 300;
    text-transform: uppercase;
    z-index: 1;
    overflow: hidden;
    & span {
      display: inline-block;
    }
  }
}

.home__container {
  & img {
    object-fit: cover;
  }
  & div:first-child {
    position: absolute;
    right: 5%;
    bottom: 10%;
  }
}

.home__brand {
  font-family: "Ambidexter";
  font-size: 7vw;
  display: inline-block;
}

.home__collection {
  font-family: "Satoshi";
  font-weight: 300;
  display: inline-block;
  font-size: 7.5vw;
}

.home__image_container {
  & img {
    object-fit: cover;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  & div:first-child {
    position: absolute;
    left: 2%;
    top: 8%;
  }

  & div:nth-child(2) {
    position: absolute;
    right: 5%;
    bottom: 10%;
  }
  & div:nth-child(3) {
    position: absolute;
    left: 15%;
    bottom: 17%;
  }

  & div:nth-child(4) {
    position: absolute;
    left: 50%;
    top: 2%;
  }

  & div:nth-child(5) {
    position: absolute;
    right: 3%;
    top: 3%;
  }
}
